.user-settings-donation-view {
  padding-left: 1rem;
}

.user-settings-donation-view-header {
  display: flex;
  justify-content: center;
}

.user-settings-donation-view-main-confirmationType-select {
  width: 95%;
}
