MONERO_WALLET_PATH=test1
MONERO_WALLET_PASSWORD=
MONERO_RPC_SERVER_URL=http://localhost:38083
MONERO_RPC_SERVER_USERNAME=user
MONERO_RPC_SERVER_PASSWORD=pass

SMTP_HOST=localhost
SMTP_PORT=3025
SMTP_USERNAME=user
SMTP_PASSWORD=pass

ADMIN_PANEL_UI_URL=http://localhost:82

ALLOWED_ORIGINS=http://localhost:81,http://localhost:82