.avatar_container {
  border-radius: 50%;
  border: 3px solid black;
}
.avatar {
  border-radius: 50%;
  display: block;
  width: 100%;
  height: 100%;
}

#editBtn {
  position: relative;
  bottom: 25px;
  right: 5px;
  font-size: 0.9rem;
}
